        *{margin: 0px; padding: 0px; text-decoration: none; color: black;}
        html, body{
            background-color: lightgray;
            font-family: 'Nanum Gothic', sans-serif;
            width : 100%;
            height : 100%;
        }
        $main_color: #ffb300;
        $sub_color: #13264e;

    @mixin inputBox{
        width: 53%;
        height: 30px;
        border:none;
        margin-top: 1%;
        margin-left: 2%;
        margin-right: 10%;
        border-radius: 4px;
        background-color: white;
        border: 1px solid lightgrey;
        outline: none;
        box-sizing: border-box;
        padding-left: 10px;
    }

    @mixin textStyle{
        width: 11.5%;
        height: 30px;
        margin-left: 85px;
        margin-top: 2%;
        color: black;
        text-align: right;
        display: inline-block;
        font-size: 13px;
    }
    @mixin button{
        width: 15%;
        height: 30px;
        background-color: $main_color;
        border: none;
        border-radius: 4px;
        margin-left: 10px;
        margin-top: 1%;
        cursor: pointer;
        outline : none;
    }

.pop_up{
    width : 300px;
    height : 200px;
    border: 1px solid $main_color;
    background-color: white;
    text-align: center;
    position : absolute;
    top : 50%;
    left : 50%;
    margin-left : -150px;
    margin-top : -100px;
    display: none;
    img{
        width : 50px;
        height : 50px;
        float: left;
        margin-left : 125px;
    }
    div{
        width : 300px;
        height : 100px;
        font-size: 13px;
        text-align: center;
        color : #333333;
        background-color: $main_color;
        line-height: 100px;
        float: left;
        font-weight: bold;
    }
    #x_box{
        width : 70px;
        height : 30px;
        float: left;
        background-color: $main_color;
        color : white;
        font-size: 13px;
        text-align: center;
        line-height: 30px;
        margin-left : 115px;
        margin-top : 10px;
        border-radius: 5px;
        font-weight: bold;
    }
}
        .signup_back_ksg{
            width: 570px;
            height: 100%;
            margin: 0 auto;
            box-shadow: 2px 2px 2px 2px gray;
            background-color: white;
            //float: left;
            .signup_logo_ksg{
                width: 138px;
                height: 100px;
                float: left;
                margin-top: 5%;
                margin-left: 213px;
                margin-right: 37.5%;
                display:block
            }
            .signup_logo_ksg>img{
                width: 100%;
            }
        }
        .signup_back_ksg>h1{
            width: 100%;
            height: 40px;
            font-size: 30px;
            color: black;
            display: block;
            text-align: center;
            float: left;
            margin-top : 30px;
        }
        .signup_back_ksg>p{
            width: 100%;
            height: 30px;
            font-size: 10px;
            color: red;
            text-align: center;
            margin-top: 5px;
            float: left;
        }

            .signup_form_ksg{
                width: 100%;
                height: 70%;
                .signup_id_txt_ksg{
                    @include textStyle;
                }
                .signup_id_ksg{
                    @include inputBox;
                    width: 35%;
                    margin-right: 0%;
                }
                .signup_id_button_ksg{
                    @include button;
                }
                .signup_id_check{
                    width : 60%;
                    height : 2%;
                    font-size: 10px;
                    margin-left : 32%;
                    color : red;
                    visibility : hidden;
                }                
                .signup_pw_txt_ksg{
                    @include textStyle;
                    width: 70px;
                    margin-left: 80px;
                    margin-top : 2%;
                }
                .signup_pw_ksg{
                    @include inputBox;
                    margin-top : 1%;
                }
                .signup_pw_check{
                    width : 60%;
                    height : 2%;
                    font-size: 10px;
                    margin-left : 32%;
                    color : red;
                    visibility : hidden;
                }                
                .signup_replay_txt_ksg{
                    @include textStyle;
                    width: 120px;
                    margin-left: 30px;
                }
                .signup_replay_ksg{
                    @include inputBox;
                }
                .signup_replay_check{
                    width : 60%;
                    height : 2%;
                    font-size: 10px;
                    margin-left : 32%;
                    color : red;
                    visibility : hidden;
                }                                
                .signup_name_txt_ksg{
                    @include textStyle;
                }
                .signup_name_ksg{
                    @include inputBox;
                    width: 35%;
                    margin-right: 0%;
                }
                .signup_name_check{
                    width : 60%;
                    height : 2%;
                    font-size: 10px;
                    margin-left : 32%;
                    color : red;
                    visibility : hidden;
                }                
                .signup_nameen_txt_ksg{
                    @include textStyle;
                }
                .signup_nameen_ksg{
                    @include inputBox;
                    width: 53%;
                    margin-right: 0%;
                }
                .signup_nameen_check{
                    width : 60%;
                    height : 2%;
                    font-size: 10px;
                    margin-left : 32%;
                    color : red;
                    visibility : hidden;
                }                                
                .signup_man_button_ksg{
                    @include button;
                    width: 6%;
                    background-color: lightgrey;
                }
                .signup_woman_button_ksg{
                    @include button;
                    width: 6%;
                    background-color: lightgrey;
                }
                .signup_birth_txt_ksg{
                    @include textStyle;
                    width: 70px;
                    margin-left: 80px;
                }
                .signup_birth_ksg{
                    @include inputBox;
                }
                .signup_birth_check{
                    width : 60%;
                    height : 2%;
                    font-size: 10px;
                    margin-left : 32%;
                    color : red;
                    visibility : hidden;
                }                  
                .signup_from_txt_ksg{
                    @include textStyle;
                }
                .signup_from_ksg{
                    @include inputBox;
                }
                .signup_from_check{
                    width : 60%;
                    height : 2%;
                    font-size: 10px;
                    margin-left : 32%;
                    color : red;
                    visibility : hidden;
                }                
                .signup_phone_txt_ksg{
                    @include textStyle;
                }
                .signup_phone_ksg{
                    @include inputBox;
                }
                .signup_phone_check{
                    width : 60%;
                    height : 2%;
                    font-size: 10px;
                    margin-left : 32%;
                    color : red;
                    visibility : hidden;
                }                
                .signup_email_txt_ksg{
                    @include textStyle;
                }
                .signup_email_ksg{
                    @include inputBox;
                }
                .signup_email_check{
                    width : 60%;
                    height : 2%;
                    font-size: 10px;
                    margin-left : 32%;
                    color : red;
                    visibility : hidden;
                }                
                .signup_address_txt_ksg{
                    @include textStyle;
                }
                .signup_address_ksg{
                    @include inputBox;
                }
                .signup_address_check{
                    width : 60%;
                    height : 2%;
                    font-size: 10px;
                    margin-left : 32%;
                    color : red;
                    visibility : hidden;
                }
                .signup_button_ksg{
                    width: 30%;
                    height: 40px;
                    border: none;
                    border-radius: 4px;
                    margin-left: 20%;
                    margin-top: 10%;
                    background-color: $main_color;
                    cursor: pointer;
                    float: left;                    
                }
                .signup_cancle_ksg{
                    width: 30%;
                    height: 40px;
                    border: none;
                    border-radius: 4px;
                    margin-right: 18%;
                    margin-left: 2%;
                    margin-top: 10%;
                    background-color: $sub_color;
                    cursor: pointer;
                    color: white;
                    text-align : center;
                    line-height : 40px;
                    font-size : 13px;
                    float: left;
                }
            }
        
